@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  margin: 0;
  font-family: Quicksand;
  color: #333;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  max-width: calc(100vw - 600px);
  margin: auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f2135d;
}
.navbar .links {
  margin: auto;
  margin-left: calc(100vw - 1000px);
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f2135d;
  transition: color 300ms ease-in-out;
}
.content {
  max-width: calc(100vw - 600px);
  margin: 40px auto;
  padding: 20px;
}

/* Style for Blog Preview */

.blog-preview {
  padding: 20px;
  margin: 20px auto;
  border-bottom: 1px solid #fafafa;
  cursor: pointer;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgb(0, 0, 0, 0.1);
  transition: 400ms ease-in-out;
}

.blog-preview h2 {
  color: #f2135d;
  font-size: 20px;
  margin-bottom: 20px;
}

/*Heading Recent Blogs*/

.blog-main h3 {
  padding-left: 20px;
  margin-bottom: 20px;
}

.blog-preview a {
  text-decoration: none;
}

/* Blog details page */

.blog-details h1 {
  color: #f2135d;
  margin-bottom: 10px;
}
.blog-details h3 {
  margin-bottom: 20px;
}
.blog-details div {
  margin: 20px, 0;
  margin-bottom: 10px;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Create Blog page */

.create {
  max-width: 400px;
  margin: 0;
  text-align: center;
  transform: translate(200px, 0px);
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Error Page */

.not-found {
  max-width: 400px;
  text-align: center;
  transform: translate(180px, 100px);
}
.not-found h2,
.not-found h3 {
  margin-bottom: 10px;
}
